 <%=render 'menus/top'%>
        <div id="layoutSidenav">
            <%=render 'menus/side'%>
                         <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
<h1>Ajouter une entrée</h1>

<%= render 'form', income: @income %>

<%= link_to 'Retour', incomes_path, class:"btn btn-danger" %>
</div>
</main>
</div>
</div>
